@import "tailwindcss";

:root {
  --background: #121212;
  --backgroundSecondary: #1E1E1E;
  --foreground: #F3F4F6;
  --primary: #7C3AED;
  --primaryHovered: #6f33d6;
  --secondary: #3B82F6;
  --secondaryHovered: #3678e3;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
